/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --text-color-900: black;
  --text-color-100: white;

  --accent-color-300: rgb(8, 120, 165);

  --floater-color: rgba(255, 255, 255, .5);

  --background-color: white;

  --default-border: 1px solid rgba(0, 0, 0, 0.25);
  --default-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.5);

  /* Fonts */
  --font-family: "Poppins", Arial, sans-serif;
  --font-size: clamp(.75rem, 1rem, 1.25rem);

  --filter-button-on-hover: 1.08;
  --filter-button-on-focus: 1.10;
}

.light {
  --md-sys-color-primary: rgb(86 89 146);
  --md-sys-color-surface-tint: rgb(86 89 146);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(224 224 255);
  --md-sys-color-on-primary-container: rgb(17 20 75);
  --md-sys-color-secondary: rgb(92 93 114);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(225 224 249);
  --md-sys-color-on-secondary-container: rgb(25 26 44);
  --md-sys-color-tertiary: rgb(120 83 107);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 216 238);
  --md-sys-color-on-tertiary-container: rgb(46 17 38);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(251 248 255);
  --md-sys-color-on-background: rgb(27 27 33);
  --md-sys-color-surface: rgb(251 248 255);
  --md-sys-color-on-surface: rgb(27 27 33);
  --md-sys-color-surface-variant: rgb(228 225 236);
  --md-sys-color-on-surface-variant: rgb(70 70 79);
  --md-sys-color-outline: rgb(119 118 128);
  --md-sys-color-outline-variant: rgb(199 197 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 48 54);
  --md-sys-color-inverse-on-surface: rgb(242 239 247);
  --md-sys-color-inverse-primary: rgb(191 194 255);
  --md-sys-color-primary-fixed: rgb(224 224 255);
  --md-sys-color-on-primary-fixed: rgb(17 20 75);
  --md-sys-color-primary-fixed-dim: rgb(191 194 255);
  --md-sys-color-on-primary-fixed-variant: rgb(62 66 120);
  --md-sys-color-secondary-fixed: rgb(225 224 249);
  --md-sys-color-on-secondary-fixed: rgb(25 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(197 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 216 238);
  --md-sys-color-on-tertiary-fixed: rgb(46 17 38);
  --md-sys-color-tertiary-fixed-dim: rgb(232 185 213);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 60 82);
  --md-sys-color-surface-dim: rgb(220 217 224);
  --md-sys-color-surface-bright: rgb(251 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 242 250);
  --md-sys-color-surface-container: rgb(240 236 244);
  --md-sys-color-surface-container-high: rgb(234 231 239);
  --md-sys-color-surface-container-highest: rgb(228 225 233);
  --md-extended-color-custom-color-color: rgb(58 96 143);
  --md-extended-color-custom-color-on-color: rgb(255 255 255);
  --md-extended-color-custom-color-color-container: rgb(211 227 255);
  --md-extended-color-custom-color-on-color-container: rgb(0 28 57);
}

.light-high-contrast {
  --md-sys-color-primary: rgb(24 28 81);
  --md-sys-color-surface-tint: rgb(86 89 146);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(58 62 116);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(32 33 51);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(64 65 85);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(54 24 45);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(90 56 78);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(78 0 2);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(140 0 9);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(251 248 255);
  --md-sys-color-on-background: rgb(27 27 33);
  --md-sys-color-surface: rgb(251 248 255);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(228 225 236);
  --md-sys-color-on-surface-variant: rgb(35 35 43);
  --md-sys-color-outline: rgb(66 66 75);
  --md-sys-color-outline-variant: rgb(66 66 75);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 48 54);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(236 234 255);
  --md-sys-color-primary-fixed: rgb(58 62 116);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(35 39 92);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(64 65 85);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(42 43 62);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(90 56 78);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(65 34 55);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(220 217 224);
  --md-sys-color-surface-bright: rgb(251 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 242 250);
  --md-sys-color-surface-container: rgb(240 236 244);
  --md-sys-color-surface-container-high: rgb(234 231 239);
  --md-sys-color-surface-container-highest: rgb(228 225 233);
  --md-extended-color-custom-color-color: rgb(0 35 68);
  --md-extended-color-custom-color-on-color: rgb(255 255 255);
  --md-extended-color-custom-color-color-container: rgb(27 68 114);
  --md-extended-color-custom-color-on-color-container: rgb(255 255 255);
}

.dark {
  --md-sys-color-primary: rgb(191 194 255);
  --md-sys-color-surface-tint: rgb(191 194 255);
  --md-sys-color-on-primary: rgb(39 43 96);
  --md-sys-color-primary-container: rgb(62 66 120);
  --md-sys-color-on-primary-container: rgb(224 224 255);
  --md-sys-color-secondary: rgb(197 196 221);
  --md-sys-color-on-secondary: rgb(46 47 66);
  --md-sys-color-secondary-container: rgb(68 69 89);
  --md-sys-color-on-secondary-container: rgb(225 224 249);
  --md-sys-color-tertiary: rgb(232 185 213);
  --md-sys-color-on-tertiary: rgb(70 38 59);
  --md-sys-color-tertiary-container: rgb(94 60 82);
  --md-sys-color-on-tertiary-container: rgb(255 216 238);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(228 225 233);
  --md-sys-color-surface-variant: rgb(70 70 79);
  --md-sys-color-on-surface-variant: rgb(199 197 208);
  --md-sys-color-outline: rgb(145 143 154);
  --md-sys-color-outline-variant: rgb(70 70 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(48 48 54);
  --md-sys-color-inverse-primary: rgb(86 89 146);
  --md-sys-color-primary-fixed: rgb(224 224 255);
  --md-sys-color-on-primary-fixed: rgb(17 20 75);
  --md-sys-color-primary-fixed-dim: rgb(191 194 255);
  --md-sys-color-on-primary-fixed-variant: rgb(62 66 120);
  --md-sys-color-secondary-fixed: rgb(225 224 249);
  --md-sys-color-on-secondary-fixed: rgb(25 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(197 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 216 238);
  --md-sys-color-on-tertiary-fixed: rgb(46 17 38);
  --md-sys-color-tertiary-fixed-dim: rgb(232 185 213);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 60 82);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(57 57 63);
  --md-sys-color-surface-container-lowest: rgb(14 14 19);
  --md-sys-color-surface-container-low: rgb(27 27 33);
  --md-sys-color-surface-container: rgb(31 31 37);
  --md-sys-color-surface-container-high: rgb(42 41 47);
  --md-sys-color-surface-container-highest: rgb(53 52 58);
  --md-extended-color-custom-color-color: rgb(164 201 254);
  --md-extended-color-custom-color-on-color: rgb(0 49 93);
  --md-extended-color-custom-color-color-container: rgb(32 72 118);
  --md-extended-color-custom-color-on-color-container: rgb(211 227 255);
}

.dark-high-contrast {
  --md-sys-color-primary: rgb(253 249 255);
  --md-sys-color-surface-tint: rgb(191 194 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(196 198 255);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(253 249 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(201 200 225);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 249 249);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(236 189 217);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(70 70 79);
  --md-sys-color-on-surface-variant: rgb(253 249 255);
  --md-sys-color-outline: rgb(204 201 212);
  --md-sys-color-outline-variant: rgb(204 201 212);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(32 36 90);
  --md-sys-color-primary-fixed: rgb(229 228 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(196 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(11 14 70);
  --md-sys-color-secondary-fixed: rgb(230 228 254);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(201 200 225);
  --md-sys-color-on-secondary-fixed-variant: rgb(20 21 38);
  --md-sys-color-tertiary-fixed: rgb(255 222 240);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(236 189 217);
  --md-sys-color-on-tertiary-fixed-variant: rgb(40 12 32);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(57 57 63);
  --md-sys-color-surface-container-lowest: rgb(14 14 19);
  --md-sys-color-surface-container-low: rgb(27 27 33);
  --md-sys-color-surface-container: rgb(31 31 37);
  --md-sys-color-surface-container-high: rgb(42 41 47);
  --md-sys-color-surface-container-highest: rgb(53 52 58);
  --md-extended-color-custom-color-color: rgb(251 250 255);
  --md-extended-color-custom-color-on-color: rgb(0 0 0);
  --md-extended-color-custom-color-color-container: rgb(171 205 255);
  --md-extended-color-custom-color-on-color-container: rgb(0 0 0);
}

#error-message {
  margin: auto;
  font-size: larger;
  min-width: 300px;
  max-width: 800px;
}

.centered-text {
  text-align: center;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--font-family);
  overflow-x: hidden;
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  max-width: 1200px;
}

main {
  margin: 0 auto;
  width: clamp(300px, 100%, 2000px);

}

a {
  color: var(--md-sys-color-on-background);
}

/* ************* 
* Header 
* ************* */

#wrapper {
  grid-row: 1/2;
  display: block;
}

#wrapper a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 32px 0;
}

header .siteName {
  font-size: 2rem;
}

/* -- Nav -- */

nav {
  background: var(--md-extended-color-custom-color-on-color-container);
  color: var(--md-extended-color-custom-color-color-container);
  border-radius: 6px;
  font-size: clamp(.75rem, 1rem, 1.25rem);

}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin: 0 auto;
  padding: .25rem;


  width: clamp(300px, 100%, 1500px);

}

nav > ul li {
  padding: 0;
  height: 57px;
  width: clamp(5%, 16rem, 16rem);
  text-align: center;
}

nav > ul > li:hover {
  background-color: var(--md-extended-color-custom-color-color-container);
  color: var(--md-extended-color-custom-color-on-color-container);
  cursor: pointer;
  border-radius: 6px;
}

nav ul li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/************ 
* Hero
* ***********/

.hero {
  margin: 0 auto;
  position: relative;
  margin-bottom: 7rem;
}

.hero img {
  display: block;

  margin: 0 auto;
  width: clamp(240px, 80%, 700px);
  height: auto;
}

.hero .hero-floater {
  position: absolute;
  top: 0;
  left: 10%;
  padding: .25rem;

  border-radius: 12px;
  font-weight: bold;
  box-shadow: 2px 2px 3px gray;
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
}

.hero .hero-floater h2 {
  margin: .25rem;
}

.hero .hero-floater ul {
  list-style: none;
  text-align: left;
  border-radius: 6px;
  padding: 0;
}

.hero .hero-floater li {
  margin: 0;
  text-align: left;
}

.hero .hero-floater .button {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
}

.hero .hero-floater a {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 0;
  width: 100%;

  font-weight: bold;
  font-size: large;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  border-radius: 6px;
  box-shadow: 0px 0px 3px var(--md-sys-color-shadow);
}

/*********** 
* Main area of the main page
* ***********/
.grid {
  display: block;
}

.grid .reviews .review {
  margin: 24px auto;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  row-gap: 32px;
  max-width: 420px;
}

.gallery .item {
  text-align: center;
  width: auto;
  height: auto;
}


.gallery .item picture {
  display: flex;
  width: 100%;
  height: 96px;

  justify-content: center;
  align-items: center;

  background-color: var(--md-sys-color-primary);
  border: 1px solid var(--md-sys-color-outline);

}

/* ******** 
 * Inventory Views 
 * ********/
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  grid-auto-rows: 275px;
  gap: 16px;
  padding: 0;
  justify-content: center;

  list-style: none;
}

#inv-display a {
  color: var(--md-sys-color-on-background);
  text-decoration: none;
}

#inv-display > li {
  /* box-shadow: 0 0 9px 3px gray; */
  display: block;
  border: 1px solid var(--md-sys-color-outline);
  background: var(--md-sys-color-surface-container);
  padding: 16px;
  border-radius: 6px;
  /* box-shadow: 0 0 4px 1px var(--md-sys-color-shadow); */
  width: 250px;
  height: 275px;
}

#inv-display > li > a {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  height: 150px;

  justify-content: center;
  align-items: center;
}

#inv-display .vehicle-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  height: auto;

  border-radius: 6px;

  background-color: black;
  object-fit: cover;

  animation: fade_in 1s ease-in-out forwards;
  animation-delay: .2s;
  opacity: 0;

}

@keyframes fade_in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.namePrice h2 {
  font-size: var(--font-size);
  font-weight: 600;
  min-height: 50px;
}

/* Detailed product view */
.product-view {
  display: grid;
  grid-template-columns: 1fr;
}

.product-view img {
  display: block;
  max-width: 100%;
  border-radius: 12px;
}

.product-details {
  border: 1px solid var(--md-sys-color-outline);
  /* box-shadow: 0 0 8px 1px var(--md-sys-color-shadow); */
  border-radius: 12px;
  overflow: hidden;
  background: var(--md-sys-color-surface-container-low);
}

.product-details > * {
  padding: .5rem;
}

.product-view ul {
  padding: 0;
  margin: 0;
}

.product-view ul li:nth-child(even) {
  background: var(--md-sys-color-surface-dim);
}

.product-view li {
  list-style: none;
  padding: .5rem;
  margin: 0;
}

.product-view li p {
  margin: auto;
}

.product-view li p:first-child {
  font-weight: bold;
}

/* Messages */
#messages {

  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px auto;
  /* background: var(--md-sys-color-secondary-container); */
  padding: 16px;
  border-radius: 12px;
}

.notice {
  padding: 0;
  margin: 0;
}

.notice li {
  width: auto;
  color: var(--md-sys-color-on-secondary);
  background: var(--md-sys-color-secondary);
  border-radius: 8px;
  box-shadow: var(--default-shadow);
  list-style: none;
  margin: 4px;
  padding: .5rem 1rem;
  text-align: center;
}

/* Login */
.web-form-1 {
  background: var(--md-sys-color-primary-container);
  padding: 32px;
  margin: 0 auto;
  width: 80%;
  max-width: 350px;
  border-radius: 16px;
  box-shadow: var(--default-shadow);
  border: var(--default-border);
}

.web-form-1 label {
  display: block;
  font-weight: bold;
  margin: .5rem auto;
  width: auto;
}


.web-form-1 input {
  display: block;
  height: 48px;
  border-radius: 4px;
  border: var(--default-border);
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
}

.web-form-1 button[type="submit"], #signup {
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border: var(--default-border);

  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  height: 48px;
}

.web-form-1 button[type="submit"]:hover, #signup:hover {
  filter:brightness(var(--filter-button-on-hover));
  cursor: pointer;
}

.web-form-1 button[type="submit"]:focus, #signup:focus {
  filter:brightness(var(--filter-button-on-hover));
}

.web-form-1 > legend {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

#signup a, 
#signup a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: 1rem;
  line-height: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unhide-password {
  background: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface-container);
  padding: 3px;
  border-radius: 8px;
  border: var(--default-border);
}

.unhide-password:hover {
  cursor: pointer;
}