/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --text-color-900: black;
  --text-color-100: white;

  --accent-color-300: rgb(0, 155, 216);

  --nav-background-color: rgb(0, 0, 37);
  --nav-hover-color: lightblue;

  --floater-color: rgba(255, 255, 255, .5);

  --background-color: white;

  /* Fonts */
  --font-family: "Poppins", serif;
}

@media (min-width: 1200px) {
  body {
    border: 3px solid var(--accent-color-300);
    margin: 1rem auto;
    border-radius: 12px;
    padding: .5rem;
  }

  html {
    background-image: url('/images/site/checkerboard.jpg');
  }
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--font-family);
  overflow-x: hidden;
  background-color: var(--background-color);
  max-width: 1200px;
}

main {
  margin: 0 auto;
  width: clamp(300px, 100%, 2000px);

}

/* ************* 
* Header 
* ************* */

#wrapper {
  grid-row: 1/2;
  display: block;
}

#wrapper a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 32px 0;
}

header .siteName {
  font-size: 2rem;
}

/* -- Nav -- */

nav {
  background-color: var(--nav-background-color);
  color: var(--text-color-100);
  border-radius: 6px;
  font-size: clamp(.75rem, 1rem, 1.25rem);

}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  margin: 0 auto;
  padding: .5rem;


  width: clamp(300px, 100%, 1500px);

}

nav > ul li {
  padding: minmax(4px, 16px);

  width: clamp(5%, 16rem, 16rem);
  text-align: center;
}

nav > ul > li:hover {
  background-color: var(--nav-hover-color);
  color: var(--text-color-900);
  cursor: pointer;
  border-radius: 6px;
}

/************ 
* Hero
* ***********/

.hero {
  margin: 0 auto;
  position: relative;
  margin-bottom: 7rem;
}

.hero img {
  display: block;

  margin: 0 auto;
  width: clamp(240px, 80%, 700px);
  height: auto;
}

.hero .hero-floater {
  position: absolute;
  top: 0;
  left: 10%;
  padding: .25rem;

  

  font-weight: bold;
  box-shadow: 2px 2px 3px gray;
  color: var(--accent-color-300);
  background-color: var(--floater-color);
}

.hero .hero-floater h2 {
  margin: .25rem;
}

.hero .hero-floater ul {
  list-style: none;
  text-align: left;
  background-color: white;
  border-radius: 6px;
  padding: 0;
}

.hero .hero-floater li {
  margin: 0;
  text-align: left;
}

.hero .hero-floater .button {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
}

.hero .hero-floater a {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 0;
  width: 100%;

  font-weight: bold;
  font-size: large;
  background-color: var(--accent-color-300);
  color: var(--text-color-900);
  border-radius: 3px;
  box-shadow: 0px 0px 3px gray;
}

/*********** 
* Main area of the main page
* ***********/
.grid {
  display: block;
}

.grid .reviews .review {
  margin: 24px auto;
}

@media screen and (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .grid .reviews {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .grid .upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
  }

}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  row-gap: 32px;
  max-width: 420px;
}

.gallery .item {
  text-align: center;
  width: auto;
  height: auto;
}


.gallery .item picture {
  display: flex;
  width: 100%;
  height: 96px;

  justify-content: center;
  align-items: center;

  background-color: var(--accent-color-300);
  border: 1px solid black;

}
